* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

button {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: crimson;
    color: rgb(233, 240, 240);
    cursor: pointer;
    z-index: 8;
}

button:hover {
    background-color: rgb(224, 73, 103);
}

h1 {
    white-space: nowrap;
}